In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Function to read and process the evaluation results from a CSV file
def process_results(csv_file, model_name):
    df = pd.read_csv(csv_file)
    df['Model'] = model_name
    return df[['Model', 'Subpart', 'MSE', 'RMSE', 'MAE']]

# Directory containing the evaluation results
results_dir = "../Predictions/Volumetric/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "eval.csv")
    try:
        assert os.path.exists(eval_file)
    except AssertionError:
        print(f"Missing evaluation results for {model_name}")
        continue
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)

def get_nice_dataframe_sub(df, metrics, subpart = "Full", vertical = False):
    models = df["Model"].unique()
    df = df.copy()
    df = df[df["Subpart"] == subpart]

    # creates a dataframe where each metric has a column for its mean and std.
    # the mean and std. are computed for each model
    # the dataframe is then saved as a csv file
    df_std = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_std[metric] = df.groupby(["Model"])[metric].std()

    df_mean = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_mean[metric] = df.groupby(["Model"])[metric].mean()

    df_mean = df_mean.round(2)
    df_std = df_std.round(2)

    #combine both dataframes, intercalating columns

    empty_df = pd.DataFrame(columns = metrics)
    for metric in metrics:
        i = 0
        for model in models:
            mean_str = str(df_mean.loc[model, metric]) 
            std_str = str(df_std.loc[model, metric]) 
            if len(mean_str) == 3 or (mean_str[2] == '.' and len(mean_str) == 4):
                mean_str += '0'
            if len(std_str) == 3 or (std_str[2] == '.' and len(std_str) == 4):
                std_str += '0'
              
            empty_df.loc[model, metric] = mean_str + " (" + std_str + ")"
            i+=1

    # transposes the dataframe
    if vertical:
        empty_df = empty_df.T
    
    return empty_df

metrics = ['MAE', 'MSE', 'RMSE']
subparts = ['Full', 'LV', 'RV', 'LA', 'RA', 'aorta']

for subpart in subparts:
    print(subpart)
    nice = get_nice_dataframe_sub(all_results, metrics, subpart, vertical=1)
    display(nice)

/tmp/ipykernel_4143288/3905287670.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)

Full

/tmp/ipykernel_4143288/3905287670.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_4143288/3905287670.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)

     VOL_ROI_DS_1_REG_0 VOL_ROI_DS_1_REG_0.0001 VOL_ROI_DS_1_REG_0.001
MAE         2.08 (0.63)             2.07 (0.64)            2.04 (0.61)
MSE         8.25 (6.14)             8.22 (6.12)            7.93 (5.63)
RMSE        2.74 (0.88)             2.73 (0.88)            2.69 (0.84)

LV

     VOL_ROI_DS_1_REG_0 VOL_ROI_DS_1_REG_0.0001 VOL_ROI_DS_1_REG_0.001
MAE         1.57 (0.56)             1.57 (0.57)            1.56 (0.57)
MSE         4.41 (3.72)             4.37 (3.67)            4.37 (3.74)
RMSE        1.97 (0.71)             1.96 (0.73)            1.96 (0.73)

RV

     VOL_ROI_DS_1_REG_0 VOL_ROI_DS_1_REG_0.0001 VOL_ROI_DS_1_REG_0.001
MAE         1.91 (0.74)             1.90 (0.75)            1.86 (0.70)
MSE         7.03 (7.02)             7.00 (7.07)            6.56 (6.08)
RMSE        2.45 (1.01)             2.45 (1.01)            2.38 (0.93)

LA

     VOL_ROI_DS_1_REG_0 VOL_ROI_DS_1_REG_0.0001 VOL_ROI_DS_1_REG_0.001
MAE         2.13 (0.70)             2.14 (0.71)            2.11 (0.70)
MSE         8.28 (7.16)             8.33 (7.60)            8.10 (7.30)
RMSE        2.73 (0.93)             2.73 (0.95)            2.69 (0.93)

RA

     VOL_ROI_DS_1_REG_0 VOL_ROI_DS_1_REG_0.0001 VOL_ROI_DS_1_REG_0.001
MAE         2.35 (0.78)             2.35 (0.77)            2.33 (0.77)
MSE        10.28 (9.03)            10.27 (8.95)           10.08 (8.81)
RMSE        3.02 (1.07)             3.03 (1.05)            3.00 (1.05)

aorta

     VOL_ROI_DS_1_REG_0 VOL_ROI_DS_1_REG_0.0001 VOL_ROI_DS_1_REG_0.001
MAE         2.16 (0.84)             2.12 (0.82)            2.13 (0.82)
MSE         8.68 (8.12)             8.40 (7.72)            8.44 (7.67)
RMSE        2.74 (1.09)             2.69 (1.07)            2.71 (1.05)

In [2]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Function to read and process the evaluation results from a CSV file
def process_results(csv_file, model_name):
    df = pd.read_csv(csv_file)
    df['Model'] = model_name
    return df

# Directory containing the evaluation results
results_dir = "../Predictions/Volumetric/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "metrics.csv")

    if not os.path.exists(eval_file):
        continue
    
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)

def get_nice_dataframe(df, metrics, vertical = False):
    models = df["Model"].unique()

    # creates a dataframe where each metric has a column for its mean and std.
    # the mean and std. are computed for each model
    # the dataframe is then saved as a csv file
    df_std = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_std[metric] = df.groupby(["Model"])[metric].std()

    df_mean = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_mean[metric] = df.groupby(["Model"])[metric].mean()

    df_mean = df_mean.round(2)
    df_std = df_std.round(2)

    #combine both dataframes, intercalating columns

    empty_df = pd.DataFrame(columns = metrics)
    for metric in metrics:
        i = 0
        for model in models:
            mean_str = str(df_mean.loc[model, metric]) 
            std_str = str(df_std.loc[model, metric]) 
            if len(mean_str) == 3 or (mean_str[2] == '.' and len(mean_str) == 4):
                mean_str += '0'
            if len(std_str) == 3 or (std_str[2] == '.' and len(std_str) == 4):
                std_str += '0'
              
            empty_df.loc[model, metric] = mean_str + " (" + std_str + ")"
            i+=1

    # transposes the dataframe
    if vertical:
        empty_df = empty_df.T
    
    return empty_df


metrics = ['LV Endo - DC', 'LV Endo - HD', 'LV Endo - MCD', 
           'LV Myo - DC', 'LV Myo - HD', 'LV Myo - MCD', 
           'RV Endo - DC', 'RV Endo - HD', 'RV Endo - MCD']


#metrics = ["LA 2CH - DC", "LA 2CH - HD", "LA 2CH - MCD",
#            "LA 4CH - DC", "LA 4CH - HD", "LA 4CH - MCD",
#            "RA 4CH - DC", "RA 4CH - HD", "RA 4CH - MCD"]

nice = get_nice_dataframe(all_results, metrics, vertical=1)

nice["MCSI-Net-Paper"] = ["0.88 (0.05)", "4.74 (1.75)", "1.86 (0.79)",
                    "0.78 (0.08)", "4.75 (1.76)", "1.86 (0.82)", 
                    "0.85 (0.06)", "7.06 (2.64)", "2.27 (0.95)"]

display(nice)

/tmp/ipykernel_4143288/1045867745.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_4143288/1045867745.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_4143288/1045867745.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)

,VOL_ROI_DS_1_REG_0,VOL_ROI_DS_1_REG_0.0001,VOL_ROI_DS_1_REG_0.001,MCSI-Net-Paper
LV Endo - DC,0.90 (0.04),0.90 (0.04),0.90 (0.05),0.88 (0.05)
LV Endo - HD,4.36 (1.22),4.32 (1.24),4.41 (1.35),4.74 (1.75)
LV Endo - MCD,1.52 (0.46),1.51 (0.49),1.58 (0.54),1.86 (0.79)
LV Myo - DC,0.78 (0.04),0.78 (0.04),0.76 (0.05),0.78 (0.08)
LV Myo - HD,5.27 (1.47),4.98 (1.40),5.17 (1.50),4.75 (1.76)
LV Myo - MCD,1.86 (0.61),1.81 (0.64),1.95 (0.72),1.86 (0.82)
RV Endo - DC,0.85 (0.06),0.86 (0.05),0.85 (0.05),0.85 (0.06)
RV Endo - HD,7.22 (2.76),6.97 (2.54),7.38 (2.67),7.06 (2.64)
RV Endo - MCD,2.05 (0.64),2.02 (0.63),2.09 (0.64),2.27 (0.95)